/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'PT Sans', sans-serif;
    background-color: #004ac8;
    margin: 45px;
    height: 100%;
}
   
p {   
    color: white;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

section {
    background-color: #7e00c8;
}

.logo,
.dropdown {
    background-color: #004ac8 ;
}

.parallax {
    height: 100%;
  
    /* efecto parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*PARALLAX DIVs FOTOS*/
#grua {
    background-image: url("images/gruas.jpg");
}
#vessel {
    background-image: url("images/vessel.jpg");
}
#camion {
    background-image: url("images/camion.jpg");
}
#oficina {
    background-image: url("images/oficina.jpg");
}


h1,
h2,
h3,
h4 { 
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    background-color:#7e00c8;
}

ol,
ul {
    list-style: none;
    color: darkgrey; 
    background-color:slategrey;    
}
   
a {
    text-decoration: none;
    color: coral;
}
a:hover { 
    color: darkturquoise;
}
a:visited { 
    color: blueviolet; 
}

/* GRID CONTAINER */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1em;
    column-gap: 3em;
    row-gap: 1em;
    align-items: stretch;

}
/* RESPONSIVE*/
@media only screen and (max-width: 768px) {
    .grid-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 1em;
        row-gap: 1em;
    }
    
}

/* HEADER */

/*FLEXBOX*/
.logo {
    display: flex;
    justify-content: center;
}


/* FOOTER*/
footer {
    background-image: linear-gradient(#004ac8, #7e00c8);
}
.boton,
.suscribe {
    display: inline;
}